__pycache__/
*.pyc
.venv/
.idea/
.env
*.db
output/
.DS_Store
logs/
הגשות האב.zip
health_topics.xml
*.pem
*.bak
openmrs-frontend/esm-clearmed-widget/node_modules/
openmrs-frontend/esm-clearmed-widget/dist/
